.Login {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.login_form {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	gap: 5px;
}

.submit_btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}